.ReadMoreButton {
  transform: scale(0.7);
  position: relative;
  button {
    position: absolute;
    right: -40px;
    border: 4px solid #3f3f3f;
    color: #3f3f3f;
    display: inline-block;
    font-weight: bold;
    margin: auto;
    padding: 15px 32px 15px 82px;
    position: relative;
    text-decoration: none;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
  }

  button .label,
  button .icon-arrow {
    backface-visibility: hidden;
    transform: translateZ(0);
    perspective: 1000;
  }

  button .label {
    display: inline-block;
    transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  }

  button .icon-arrow {
    fill: #3f3f3f;
    height: 15px;
    top: 17px;
    transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1), opacity 0.4s cubic-bezier(0.86, 0, 0.07, 1);
    width: 35px;
  }

  button .icon-arrow.before {
    left: 32px;
    margin-right: 15px;
    position: absolute;
    transform-origin: left center;
  }

  button .icon-arrow.after {
    margin-left: 15px;
    opacity: 0;
    position: absolute;
    right: 32px;
    transform: translateX(75%) scaleX(0.1);
    transform-origin: right center;
  }

  button:hover .label {
    transform: translateX(-52px);
  }

  button:hover .icon-arrow.before {
    opacity: 0;
    transform: translateX(-75%) scaleX(0.1);
  }

  button:hover .icon-arrow.after {
    opacity: 1;
    transform: translateX(0) scaleX(1);
  }

  button:active {
    border-color: #fd6154;
    color: #fd6154;
  }

  button:active .icon-arrow {
    fill: #fd6154;
  }
}
