@import '../../../../assets/sass/media';

.FindMeElseWhere {
  ul {
    margin-bottom: 2rem;
    li {
      p {
        display: flex;
        a {
          margin-left: 0.3rem;
        }
      }
    }
  }

  .Holder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    @include respond(df, sm) {
      grid-template-columns: 1fr 1fr;
      grid-gap: 0.5rem 1rem;
    }
    // margin-bottom: 2rem;
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-between;
  }
}
