.FindMeElseWhere {
  ul {
    margin-bottom: 2rem;
    li {
      p {
        display: flex;
        a {
          margin-left: 0.3rem;
        }
      }
    }
  }

  .Holder {
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
