@import '../../../../assets/sass/main.scss';

.Cards {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  @include respond(mf, tab-p) {
    grid-template-columns: 1fr 1fr;
    // min-width: 40%;
  }
  .Card {
    border: 2px solid #7c7c7c21;
    &:hover {
      border-color: $primaryGreenish;
    }
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    height: 5rem;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    .CardLeft {
      padding-left: 1rem;
      padding-right: 1rem;
    }
    .CardRight {
      width: 30%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
