@import '../../assets/sass/main.scss';

.HomeSections {
  margin-top: 4rem;
  padding-bottom: 4rem;

  ul {
    @include respond(df, sm) {
      padding-inline-start: 0px;
    }
  }
}

.Animation {
  margin-bottom: 4rem;
}
