@import '../../../../assets/sass/main.scss';

/* Variables */
$color-3: $primaryGreenish;

.timeline {
  // margin: 4em auto;
  position: relative;
  // max-width: 46em;

  &:before {
    content: '';
    margin-left: -1px;
    position: absolute;
    top: 0;
    left: 2em;
    width: 2px;
    height: 100%;
  }
}

.timeline-event {
  position: relative;
  .timeline-event-icon {
    @include respond(df, sm) {
      left: 2.4em;
    }
  }
  &:hover {
    .timeline-event-icon {
      transform: rotate(-45deg);
      background-color: $color-3;
    }

    .timeline-event-thumbnail {
      box-shadow: inset 40em 0 0 0 $color-3;
    }
  }
}

.timeline-event-copy {
  padding: 2em;
  position: relative;
  top: -1.875em;
  left: 4em;
  @include respond(df, mbl) {
    left: 2em;
  }
  width: 80%;

  h4 {
    margin-bottom: 0.6em;
  }

  strong {
    font-weight: 700;
  }
}

.timeline-event-icon {
  transition: transform 0.2s ease-in;
  transform: rotate(45deg);
  display: block;
  margin: 0.5em 0.5em 0.5em -0.5em;
  position: absolute;
  top: 0;
  left: 2em;
  width: 1em;
  height: 1em;
}

.timeline-event-thumbnail {
  transition: box-shadow 0.5s ease-in 0.1s;
  box-shadow: inset 0 0 0 0em #ef795a;
  display: inline-block;
  margin-bottom: 1.2em;
  padding: 0.25em 1em 0.2em 1em;
}
