@import '../../../../assets/sass/main.scss';

.TimeRange {
  font-size: 60%;
  margin-left: 0.4rem;
}

.Logobox {
  height: 30px;
  margin-bottom: 1rem;
  img {
    height: 100%;
  }
}

.LocationBox {
  display: flex;
  align-items: flex-start;
  p {
    margin-left: 0.3rem;
  }
}

.Timeline {
  position: relative;

  &:before {
    content: '';
    margin-left: -1px;
    position: absolute;
    top: 0;
    left: 2em;
    width: 2px;
    height: 100%;
  }
}

.TimelineEvent {
  .TimelineEventIcon {
    border-radius: 3px;
    transition: transform 0.2s ease-in;
    transform: rotate(45deg);
    display: block;
    margin: 0.5em 0.5em 0.5em -0.5em;
    position: absolute;
    top: 0;
    left: 2em;
    width: 1em;
    height: 1em;
  }

  position: relative;
  .TimelineEventIcon {
    @include respond(df, sm) {
      left: 2.4em;
    }
  }

  p {
    transition: color 0.5s;
  }
  &:hover {
    .TimelineEventIcon {
      transform: rotate(-45deg);
      background-color: $primaryGreenish;
      transition: all 0.5s;
    }

    // p {
    //   color: $primaryGreenish;
    // }

    .TimelineEventThumbnail {
      // box-shadow: inset 40em 0 0 0 $primaryGreenish;
      background-color: $primaryGreenish;
      transition: all 0.5s;
    }
  }
}

.TimelineEventThumbnail {
  border-radius: 3px;
  transition: box-shadow 0.5s ease-in 0.1s;
  box-shadow: inset 0 0 0 0em #ef795a;
  display: inline-block;
  margin-bottom: 1.2em;
  padding: 0.25em 1em 0.2em 1em;
}

.TimelineEventCopy {
  padding: 2em 2em 0 6rem;
  position: relative;
  top: -1.875em;
  @include respond(df, mbl) {
    padding-left: 4rem;
  }

  h4 {
    margin-bottom: 0.6em;
  }

  strong {
    font-weight: 700;
  }
}
