.TimeLineBox {
  // max-height: 50vh;
  // color: ;
}

.Children {
  width: 100%;
  padding: 0.3rem;
  // background-color: rgba(255, 0, 0, 0.103);

  img {
    height: 30px;
  }
}

.Logobox {
  height: 30px;
  margin-bottom: 1rem;
  img {
    height: 100%;
  }
}

.LocationBox {
  display: flex;
  align-items: center;
  p {
    margin-left: 0.3rem;
  }
}
