@import '../../assets/sass/main.scss';

.Movies {
  position: absolute;
  top: 0;
  padding-bottom: 4rem;
  h2 {
    text-align: center;
  }
  hr {
    margin: 1rem 0;
  }
}

.Cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .Card {
    min-height: 200px;
    overflow: hidden;
    padding: 10px;
    width: 160px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 5px;
    margin-bottom: 1rem;
    transition: all 0.3s;
    &:hover {
      border-color: $primaryGreenish;
    }
    img {
      width: 100%;
      border-radius: 4px;

      &.active {
        opacity: 0;
      }
    }

    .Info {
      font-size: 11px;
      opacity: 0.8;
    }

    .Desc {
      display: none;
    }
  }
}

.ImageBox {
  height: 210px;
}
