$green: #86bb71;
$orange: #e38968;

.Chat {
  height: 100%;
  overflow: hidden;
  // font-family: 'Lato', Arial, sans-serif;
  // border-radius: 5px;
  border: 1px solid;
  width: 100%;
}
.Container {
  display: grid;
  grid-template-rows: 3rem 1fr auto;
  height: 100%;
  .Top {
    border-bottom: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      text-align: center;
    }
  }
  .Middle {
    padding: 0 1rem;
    overflow-y: scroll;
  }
  .Bottom {
    padding: 1rem;
    display: flex;
    height: 5rem;
    align-items: center;
    justify-content: center;
    .Input {
      height: 100%;
      border-radius: 5px;
      padding: 0 1rem;
      outline: none;
      border: none;
      flex: 1;
      transition: all 0.3s;
      &:focus {
        background-color: rgba(0, 0, 0, 0.103);
      }
      &:disabled {
        background-color: rgb(218, 218, 218);
      }
    }
    .RightButton {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 3rem;
      width: 3rem;
      .SendIcon {
        cursor: pointer;
        &.RightButtonDisable {
          transform: translateX(-7px);
          cursor: not-allowed;
          color: gray;
        }
        color: green;
        padding: 0.5rem;
        transition: all 0.3s;
        &:hover {
          color: blue;
          transform: translateX(3px);
        }
      }
    }
  }
}

.NoMsgsComponent {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &_Inner {
    width: 70%;
    padding: 1rem;
    border-radius: 10px;
    border: 3px solid #eee;
  }
}

.RecieverHeader {
  position: relative;
  padding: 3rem 2rem;
  border-bottom: 1px solid;
  .AvatarTahsin {
    height: 5rem;
    width: 5rem;
  }
  .OnlineStatusBox {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    .OnlineStatusText {
      &.OnlineStatusText-online {
        background-color: $green;
      }
      &.OnlineStatusText-offline {
        background-color: $orange;
      }
      padding: 0.2rem 0.5rem;
      border-radius: 10px;
      margin-right: 0.5rem;
    }
    .OnlineStatusTextHelp {
      color: gray;
      font-size: 0.8em;
    }
  }
  img {
    position: absolute;
    bottom: -50%;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    z-index: 100;
  }
  h4,
  p {
    margin: 0;
  }
}

.ConversationContainer {
  height: 0;
  flex-grow: 1;
}
