.SeeAllButton {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
  border: 1px solid rgba(6, 240, 84, 0.3);
  background-color: transparent;
  &:hover {
    color: #fff;
    // background-color: colors;
  }
}
